<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Home</title>
</head>
<body class="bg-gray-100 h-screen flex">
    <div class="w-1/6 bg-purple-400 text-white relative">
        <div class="border-r border-gray-300 absolute h-full top-0 right-0"></div>
        <div class="mt-24">
            <img src="/static/images/notepad.png" class="absolute left-0 top-0 mb-6">
            <h2 class="p-6 text-2xl font-bold">Navigation</h2>
            <ul>
                <li class="mb-2">
                    <a href="tasks.html" class="p-6 block hover:underline">
                        <img src="/static/images/tasks-icon.png" class="inline-block w-5 h-5 mr-2">
                        Tasks
                    </a>
                </li>
                <div class="h-0.5 w-full bg-white"></div>
                <li class="mb-2">
                    <a href="dashboard.html" class="p-6 block hover:underline">
                        <img src="/static/images/dashboard-icon.png" class="inline-block w-5 h-5 mr-2">
                        Dashboard
                    </a>
                </li>
                <div class="h-0.5 w-full bg-white"></div>
                <li class="mb-2">
                    <a href="profile.html" class="p-6 block hover:underline">
                        <img src="/static/images/profile-icon.png" class="inline-block w-5 h-5 mr-2">
                        Profile
                    </a>
                </li>
                <div class="h-0.5 w-full bg-white"></div>
                <li class="mb-2">
                    <a href="calendar.html" class="p-6 block hover:underline">
                        <img src="/static/images/calendar-icon.png" class="inline-block w-5 h-5 mr-2">
                        Calendar
                    </a>
                </li>
                <div class="h-0.5 w-full bg-white"></div>
                <li class="mb-2">
                    <a href="settings.html" class="p-6 block hover:underline">
                        <img src="/static/images/settings-icon.png" class="inline-block w-5 h-5 mr-2">
                        Settings
                    </a>
                </li>
                <div class="h-0.5 w-full bg-white"></div>
            </ul>
        </div>
    </div>
    <div class="my-6 w-full">
        <h1 class="p-6 text-4xl font-extrabold mb-12">Welcome Mufaddal</h1>
        <div class="h-0.5 w-full bg-gray-600"></div>
    </div>
</body>
</html>
