<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <title class="bg-black">Welcome</title>
</head>

<body class="bg-gradient-to-r from-purple-400 to-pink-600 h-screen flex items-center  " rel="stylesheet">
    <img src="/static/images/welcome.png" class="  h-1/2 w-1/3 z-10   ">
    <div class=" text-center text-white">
        <h1 class="text-4xl font-extrabold ml-36 justify-items-end flex:">Welcome to</h1>
        <h1 class="text-5xl font-extrabold ml-36">MyToDoHub</h1>
        <h2 class="text-2xl mt-8 ml-36">Get Started</h2>
        <button
            class="bg-purple-700 hover:bg-blue-700 text-white font-bold py-2 px-6 ml-36 mt-8 rounded-md transition duration-300 transform hover:scale-105">
            <a href= login >Next Screen</a>
        </button>
    </div>
    <img src="/static/images/human1.png" class="absolute top-24 right-5  h-1/4 w-1/4 z-10   ">
    <img src="/static/images/human2.png" class=" absolute bottom-32 right-20  h-1/3 w-1/4 z-10    ">
</body>

</html>